* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Cairo', sans-serif;
    /* background-color: black; */
}

/* root */
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-trantion: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
}

/* global rules */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* samll */
@media(min-width:768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media(min-width:992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media(min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* :start main-tilte */
.main-title {
    position: relative;
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    z-index: 1;
    transition: var(--main-trantion);
    text-transform: uppercase;
}
/* شكل الفواصل بين الاقسام */
.spikes {
    position: relative;
  }
  .spikes::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%),
      linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
  }
.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}

.main-title::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #1787e0;
    top: 50%;
    transform: translateY(-50%);
}

.main-title::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #1787e0;
    top: 50%;
    transform: translateY(-50%);
}

.main-title::before {
    left: -30px;
}

.main-title::after {
    right: -30px;
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

/* End main-title */

/* start header */
.header {
    position: relative;
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}


.header .logo {
    font-size: 26px;
    font-weight: bold;
    color: var(--main-color);
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:767px) {
    .header .logo {
        width: 100%;
        height: 50px;
    }
}

.header .main-nav {
    display: flex;
}

@media (max-width:767px) {
    .header.main-nav {
        margin: auto;
    }
}

.header .main-nav>li:hover .mega-menu {
    z-index: 100;
    opacity: 1;
    top: calc(100% + 1px);
}

.header .main-nav>li>a {
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: black;
    padding: 0 30px;
    display: flex;
    transition: 0.3s;
    overflow: hidden;
}

@media (max-width:767px) {
    .header .main-nav>li>a {
        padding: 10px;
        font-size: 12px;
        height: 40px;
    }
}

.header .main-nav>li>a::before {
    content: "";
    position: absolute;
    border-top: 4px solid var(--main-color);
    width: 100%;
    top: 0;
    left: -100%;
    transition: 0.3s;
}

.header .main-nav>li>a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

.header .main-nav>li>a:hover::before {
    left: 0;
}

/* start megameun */
.header .mega-menu {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    z-index: -1;
    display: flex;
    gap: 40px;
    transition: top var(--main-trantion), opacity var(--main-trantion);
    opacity: 0;
}

@media (max-width:767px) {
    .header .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}

.header .mega-menu .image img {
    max-width: 100%;
}

@media (max-width:991px) {
    .header .mega-menu .image img {
        display: none;
    }

}

.header .mega-menu .links {
    min-width: 250px;
    flex: 1;
}

.header .mega-menu .links li {
    position: relative;

}

.header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;

}

@media (max-width:767px) {
    .header .mega-menu .links li:not(:last-child) {
        border-top: 1px solid #e9e9e9;

    }
}


/* تأثير الفل */
.header .mega-menu .links li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 100%;
    background-color: wheat;
    z-index: -1;
    transition: var(--main-trantion);
}

.header .mega-menu .links li:hover::before {
    width: 100%;
}

.header .mega-menu .links li a {
    padding: 15px;
    display: block;
    color: var(--main-color);
    font-weight: bold;
    font-size: 18px;
}

.header .mega-menu .links li a i {
    margin-right: 10px;
}

/* End .mega-menu */
/* End header */
/* start landing */
.landing {
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewy(-6deg);
    transform-origin: top left;
}

.landing .container {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 72px);
    padding-bottom: 120px;
}

.landing .text {
    flex: 1;
}

@media (max-width:991px) {
    .landing .text {
        text-align: center;
    }
}

.landing .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}

@media (max-width:767px) {
    .landing .text h1 {
        font-size: 28px;
    }
}

.landing .text p {
    font-size: 24px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #777;
    max-width: 500px;
}

@media (max-width:767px) {
    .landing .text p {
        font-size: 18px;
    }
}

@media (max-width:991px) {
    .landing .text p {
        margin: 10px auto;
    }
}

.landing .image img {
    width: 600px;
    position: relative;
    max-width: 100%;
    animation: up 5s linear infinite;
}

@media (max-width:991px) {
    .landing .image img {
        display: none;
    }
}

.landing .go-down {
    color: var(--main-color);
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    transition: var(--main-trantion);
    font-size: 28px;
    animation: i 1.5s infinite linear;
}

.landing .go-down:hover {
    color: red;
}

/* End landing */
/* start articles */
.Articles {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.Articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.Articles .container .box {
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-trantion), box-shadow var(--main-trantion);
}

.Articles .container .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);

}

.Articles .container .box img {
    width: 100%;
    max-width: 100%;
}

.Articles .container .box .content {
    padding: 20px;
    border-bottom: 1px solid #e6e6e6;

}

.Articles .container .box .content p {
    color: #777;
    margin: 10px 0 0;
    line-height: 1.5;
}

.Articles .container .box .content h3 {
    margin: 0;
}

.Articles .box .info {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.Articles .box .info a {
    text-decoration: none;
    font-weight: bold;
    color: var(--main-color);
}

.Articles .box .info i {
    color: var(--main-color);
}

.Articles .box:hover .info i {
    animation: article 0.6s linear infinite;
}

/* End article */
/* start GALLERY */
.gallery {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: #ececec;

}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    padding: 20px;
}

.gallery .box {
    padding: 15px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 /12%);
}

.gallery .box .image {
    position: relative;
    overflow: hidden;
}

.gallery .box .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    background-color: rgb(255 255 255 / 20%);
    opacity: 0;
    z-index: 2;
}

.gallery .box .image:hover:before {
    animation: flashing 0.7s;
    transition: var(--main-trantion);
}

.gallery .box .image:hover {
    transform: rotate(5deg) scale(1.1);
}

.gallery .box img {
    width: 100%;
    max-width: 100%;
}

/* End gallery */
/* start features */
.features {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: white;
    position: relative;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .box {
    text-align: center;
    border: 1px solid #ccc;
}

.features .box .imag-holder {
    position: relative;
    overflow: hidden;
}

.features .box .imag-holder::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}

.features .Quality .imag-holder::before {
    background-color: rgb(244 64 54 / 60%);
}

.features .time .imag-holder::before {
    background-color: rgb(0 150 136 / 60%);
}

.features .passion .imag-holder::before {
    background-color: rgb(3 169 244 / 60%);
}

.features .box .imag-holder::after {
    position: absolute;
    content: "";
    border-style: solid;
    bottom: 0;
    right: 0;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-trantion);
}

.features .box:hover .imag-holder:after {
    border-width: 170px 500px 170px 0px;
}

.features .box .imag-holder img {
    width: 100%;
    max-width: 100%;
}

.features .box h2 {
    font-size: 40px;
    position: relative;
    margin: auto;
    width: fit-content;
}

.features .box h2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    height: 5px;
    width: calc(100% - 30px);
}

.features .Quality h2::after {
    background-color: #f44036;
}

.features .time h2::after {
    background-color: #009688;
}

.features .passion h2::after {
    background-color: #03a9f4;
}

.features .box p {
    line-height: 2;
    font-size: 20px;
    margin: 30px 0;
    padding: 25px;
    color: #777;
}

.features .box a {
    display: block;
    text-decoration: none;
    border: 3px solid transparent;
    width: fit-content;
    padding: 10px 20px;
    margin: 30px auto;
    font-size: 22px;
    font-weight: bold;
    border-radius: 6px;
    transition: var(--main-trantion);
}

.features .box:hover a {
    background-position: left bottom;
    color: white;
}

.features .Quality a {
    color: #f44036;
    border-color: #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .time a {
    color: #009688;
    border-color: #009688;
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .passion a {
    color: #03a9f4;
    border-color: #03a9f4;
    background: linear-gradient(to right, #03a9f4 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

/* End features */
/* start TESTIMONIALS */
.testimonials {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: #ececec;
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.testimonials .box {
    border: 1px solid white;
    background-color: white;
    position: relative;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
    padding: 20px;
}

.testimonials .box img {
    max-width: 100%;
    position: absolute;
    border-radius: 50%;
    border: 10px solid #ececec;
    width: 100px;
    height: 100px;
    right: 0;
    top: -36px;
}

.testimonials .box h3 {
    margin: 0 0 10px;
}

.testimonials .box span {
    display: block;
    color: #777;
    margin-bottom: 10px;
}

.testimonials .icons i:not(:last-child) {
    color: #ffc107;
}

.testimonials .box p {
    color: #777;
    line-height: 1.5;
    margin-top: 10px;
}

/* End testimonials */
/* start TEAM MEMBERS */
.team {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.team .box {
    position: relative;
    padding: 30px;
}

.team .box::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0;
    width: calc(100% - 60px);
    height: 100%;
    background-color: #f3f3f3;
    border-radius: 10px;
    z-index: -2;
}

@media (max-width:767px) {
    .team .box::before {
        width: 100%;
    }
}

.team .box::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    transition: var(--main-trantion);
    background-color: #e4e4e4;
    z-index: -1;
}

.team .box:hover:after {
    width: calc(100% - 60px);
}

.team .box .data img {
    width: 100%;
    filter: grayscale(0%);
    border-radius: 10px;
    transition: var(--main-trantion);
    width: calc(100% - 20px);
    padding-bottom: 15px;

}

.team .box .data:hover img {
    filter: grayscale(100%);

}

.team .box .data {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.team .box .data .social {
    display: flex;
    width: 60px;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.team .box .data .social a {
    display: flex;
    width: 60px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.team .box .data .social i {
    color: #777;
    transition: var(--main-color);
}

.team .box .data .social a:hover i {
    color: var(--main-color);
}

.team .box .info {
    padding-left: 40px;
}

.team .box .info h3 {
    font-size: 22px;
    color: var(--main-color);
    margin-bottom: 10px;
    transition: var(--main-color);
}

.team .box .info:hover h3 {
    filter: grayscale(100%);
}

/* End team */
/* start services */
.services {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: #ececec;
    position: relative;
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.services .box {
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    text-align: center;
    counter-increment: services;
    padding: -5px;
    position: relative;
    transition: var(--main-trantion);
}

.services .box:hover {
    transform: translateY(-10px);
}

.services .box::before {
    position: absolute;
    content: "";
    top: -3px;
    left: 50%;
    height: 3px;
    width: 0;
    transition: var(--main-trantion);
    transform: translateX(-50%);
    background-color: var(--main-color);
}

.services .box:hover:before {
    width: 100%;
}

.services .box i {
    color: #d5d5d5;
    margin: 30px auto;
}

.services .box i:hover {
    color: brown;
}

.services .box h3 {
    color: var(--main-color);
    font-size: 25px;
    margin-bottom: 10px;

}

.services .box .info {
    position: relative;
    background-color: #f9f9f9;
    padding: 15px;
    text-align: right;
    margin-bottom: -17px;
}

.services .box .info::before {
    content: "0" counter(services);
    position: absolute;
    background-color: var(--main-color);
    color: white;
    left: 0;
    top: 0;
    width: 80px;
    height: 100%;
    font-size: 30px;
    padding-right: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services .box .info::after {
    content: "";
    position: absolute;
    background-color: #d5d5d5;
    top: 0;
    left: 80px;
    width: 50px;
    height: 100%;
    transform: skewX(-30deg);
}

.services .box .info a {
    color: var(--main-color);
}

/* End services */
/* start skills */
.our-skills {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.our-skills .container {
    display: flex;
    align-items: center;
}

.our-skills img {
    max-width: 100%;
}

@media (max-width:991px) {
    .our-skills img {
        display: none;
    }
}

.our-skills img:hover {
    filter: grayscale(100);
}

.our-skills .skills {
    flex: 1;
}

.our-skills .skills .skill h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-skills .skills .skill h3 span {
    font-size: 12px;
    color: var(--main-color);
    border-radius: 4px;
    padding: 3px 5px;
    border: 1px solid#ccc;
}

.our-skills .skills .skill .the-progress {
    height: 30px;
    background-color: #eee;
    position: relative;
}

.our-skills .skills .skill .the-progress span {
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    background-color: var(--main-color);
}

/* End our-skills */
/* start work */
.work-steps {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: #ececec;
}

.work-steps .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work-steps .container .image {
    max-width: 100%;
    margin-right: 20px;
}

@media (max-width:767px) {
    .work-steps .container .image {
        display: none;
    }
}

.work-steps .info .box {
    border: 2px solid white;
    background-color: #f6f5f5;
    padding: 34px;
    display: flex;
    position: relative;
    margin-bottom: 26px;
    text-align: start;
    border-radius: 78px;
    overflow: hidden;
    z-index: 1;
}

.work-steps .info .box::before {
    top: 50%;
    left: 50%;
    width: 0%;
    height: 0%;
    content: "";
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #d5d5d5;
    z-index: -1;
    opacity: 0;
}

.work-steps .info .box:hover:before {
    animation: flashing 0.7s;
    transition: var(--main-trantion);
}
.work-steps .info .box img {
    width: 64px;
    margin-right: 30px;

}
@media (max-width:767px){
    .work-steps .info .box img{
        width: 100px;
        height: 100px;
    }
}

.work-steps .info .box .text h3 {
    font-size: 22px;
    margin-bottom: 5px;
}

.work-steps .info .box .text p {
    color: #777;
    line-height: 1.7;
    font-size: 18px;
    margin-bottom: 5px;
}

/* End work-steps */
/* start Events */
.events {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.events .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.events .container img {
    max-width: 450px;
}

@media (max-width:991px) {
    .events .container img {
        display: none;
    }
}

.events .info {
    flex: 1;
}

.events .info .time {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
    justify-content: center;
}

.events .info .time .unit {
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    width: 75px;
    text-align: center;
    transition: var(--main-trantion);
}

.events .info .time .unit:hover {
    border: 1px solid var(--main-color);
}

.events .info .time .unit span {
    display: block;
}

.events .info .time .unit span:first-child {
    padding-top: 40px;
    font-size:18px;
    color: var(--main-color);
    font-weight: bold;
    margin-top: -29px;
}

.events .info .time .unit span:last-child {
    padding: 8px 10px;
    border-top: 1px solid #d4d4d4;
    font-size: 20px;
    font-weight: bold;
}

.events .u {
    text-align: center;
    font-size: 30px;
}

.events .description {
    text-align: center;
    line-height: 1.7;
    font-size: 19px;
    color: #777;
}

.events .subscribe {
    max-width: 100%;
}

.events form {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 20px 15px;
    width: 600px;
    background-color: #f6f5f5;
    border: 1px solid #d4d4d4;
    border-radius: 50px;
    margin: 20px auto;
    gap: 20px;
}

@media (max-width:767px) {
    .events form {
        width: 414px;

    }
}

.events form input[type="email"] {
    padding: 20px;
    border-radius: 50px;
    width: 378px;
    border: none;

}

.events form input[type="submit"] {
    color: white;
    border-radius: 50px;
    background: none;
    width: 132px;
    background-color: var(--main-color);
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: var(--main-trantion);
}

.events form input[type="submit"]:hover {
    color: #d4d4d4;
}

.events .up img {
    top: 243px;
    right: 0;
    position: absolute;
    width: 190px
}

.events .ud img {
    bottom: 150px;
    left: 0;
    position: absolute;
    width: 190px;
}

/* End events */
/* start pricing */
.pricing {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: #ececec;
    position: relative;
}

.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.pricing .box img {
    width: 80px;
    margin-bottom: 30px;
}

.pricing .box {
    position: relative;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    background-color: white;
    text-align: center;
    z-index: 1;
    transition: var(--main-trantion);
    overflow: hidden;

}

.pricing .box::after,
.pricing .box::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 50%;
    background-color: #f6f6f6;
    transition: var(--main-trantion);
    z-index: -1;
}

.pricing .box::before {
    left: 0;
    top: 0
}

.pricing .box::after {
    right: 0;
    bottom: 0;
}

.pricing .box:hover::after,
.pricing .box:hover::before {
    width: 100%;
}

@media(min-width:1200px) {
    .pricing .box.Popular {
        top: -20px;
    }

}

.pricing .box.Popular .label {
    position: absolute;
    writing-mode: vertical-lr;
    background-color: #03a9f4;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 10px 35px 10px;
    right: 20px;
    width: 40px;
}

.pricing .box.Popular .label::before {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 20px;
    border-color: transparent transparent white transparent;
}

.pricing .box .title {
    margin: 30px 0;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1;
}

.pricing .box .pric {
    margin-bottom: 20px;
}

.pricing .box .pric .pr {
    margin-bottom: 5px;
    display: block;
    font-size: 60px;
    font-weight: bold;
    color: #03a9f4;
}

.pricing .box .pric .time {
    color: #777;
}

.pricing .box ul li {
    padding: 20px;
    border-top: 1px solid #eee;
    text-align: start;
}

.pricing .box ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    margin-right: 10px;
    font-weight: 900;
    color: var(--main-color);
}

.pricing .box a {
    padding: 15px 20px;
    display: block;
    border: 2px solid var(--main-color);
    width: fit-content;
    margin: 30px auto;
    color: #03a9f4;
    font-weight: bold;
    border-radius: 4px;
    transition: var(--main-trantion);
}

.pricing .box a:hover {
    background-color: var(--main-color-alt);
    color: white;
    border-color: var(--main-color-alt);
}

.pricing .up img {
    top: 243px;
    right: 0;
    position: absolute;
    width: 190px
}

.pricing .ud img {
    bottom: 150px;
    left: 0;
    position: absolute;
    width: 190px;
}

@media (max-width:767px) {

    .events .up img,
    .events .ud img {
        display: none;
    }
}

/* End pricing */
.videos {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.videos .container .holder {
    display: flex;
    justify-content: center;
    background-color: #ccc;
    border: 3px solid #ddd
}

@media (max-width: 991px) {
    .videos .container .holder {
        flex-direction: column;
    }
}

.videos .container .holder .list {
    text-align: center;
    min-width: 300px;
    background-color: white;
}

.videos .container .holder .list .name {
    display: flex;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 20px;
    font-weight: bold;
}

.videos .container .holder .list ul li {
    border-bottom: solid #eee;
    padding: 20px;
    text-align: start;
    transition: var(--main-trantion);
}

.videos .container .holder .list ul li:hover {
    color: #03a9f4;
    background-color: #fafafa;
    font-weight: bold;
}

.videos .container .holder .list ul li span {
    display: block;
    color: #777;
    margin-top: 10px;
}

.videos .holder .preview {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #e2e2e2;
}

.videos .holder .preview img {
    max-width: 100%;
}

.videos .holder .preview img:hover {
    max-width: 100%;
    filter: grayscale(100%);
}

.videos .holder .preview .info {
    padding: 20px;
    margin-top: 10px;

    background-color: white;
}

/* END VIDEOS */
/* start stats */
.stats {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-image: url(../imagr/stats.jpg);
    background-size: cover;
    position: relative;
}

.stats::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 95%);
}

.stats h2 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 40px;
    position: relative;
}

.stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.stats .container .box {
    background-color: white;
    padding: 30px 15px;
    position: relative;
    opacity: 0.8;
    text-align: center;
    transition: var(--main-trantion);
    overflow: hidden;
}

.stats .container .box::before,
.stats .container .box::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    transition: 1s;
    background-color: var(--main-color);
}

.stats .container .box:hover:before {
    top: 0;
    right: 0;
}

.stats .container .box:hover::after {
    bottom: 0;
    left: 0;
}

.stats .container .box:hover:before,
.stats .container .box:hover::after {
    height: 100%;
}

.stats .container .box i {
    margin-bottom: 10px;
}

.stats .container .box i:hover {
    color: red;
}

.stats .container .box span {
    display: block;
    text-align: center;

}

.stats .container .box .number {
    display: block;
    font-size: 50px;
    font-weight: bold;

}

.stats .container .box .text {
    margin-top: 10px;
    color: var(--main-color);
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}

/* End stats */
/* start discount */
.discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.discount .image {
    background-image: url(../imagr/WwW.IRAQ.jpg);
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    position: relative;
    z-index: 1;
    animation: change-background 10s linear infinite;
}

.discount .image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 97%);
    z-index: -1;
}

@media (max-width:991px) {
    .discount .image {
        flex-basis: 100%;
        margin-bottom: 10px;
    }
}

/* content genral */
.discount .content {
    text-align: center;
    padding: 0 20px;
}

.discount .content h2 {
    font-size: 40px;
    letter-spacing: -2px;
    margin-bottom: 30px;
}

@media (max-width:767px) {
    .discount .content h2 {
        font-size: 33px;
    }
}

.discount .content p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 500px;
}

.discount .content img {
    width: 300px;
    max-width: 100%;
}

.discount .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}

.discount .form input {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
    background-color: #f9f9f9;
    border: none;
    border: 1px solid #ccc;
    caret-color: #03a9f4;
}

.discount .form textarea {
    height: 200px;
    padding: 0 20px;
    resize: none;
    margin-bottom: 10px;
}

.discount .form [type="submit"] {
    display: block;
    width: 100%;
    color: white;
    background-color: var(--main-color);
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: var(--main-trantion);
}

.discount .form [type="submit"]:hover {
    color: white;
    background-color: var(--main-color-alt);
}

/* End discount */
/* start footer */
.footer {
    padding: 70px 0 0;
    background-color: #191919;
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.footer .box h3 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
}

@media (max-width:767px) {
    .footer .box h3 {
        text-align: center;
    }
}

.footer .box .social {
    display: flex;
}

@media (max-width:767px) {
    .footer .box .social {
        display: flex;
        justify-content: center;
    }
}

.footer .box .social li {
    margin-right: 10px;
}

.footer .box .social li a {
    background-color: #313131;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 50px;
    height: 50px;
    color: #b9b9b9;
    font-size: 20px;
    transition: var(--main-trantion);
}

.footer .box .social .facebook:hover {
    background-color: #1877f2;
}

.footer .box .social .twitter:hover {
    background-color: #1da1f2;
}

.footer .box .social .youtube:hover {
    background-color: #ff0000;
}

.footer .box .text {
    color: #b9b9b9;
    line-height: 2;
}
@media (max-width:767px) {
    .footer .box .links li{
        text-align: center;
        padding: 20px;
        }
    }
    

.footer .box .links li {
    padding: 15px 0;
    transition: var(--main-trantion);
}

.footer .box .links li:hover {
    padding-left: 10px;
}

.footer .box .links li a:hover {
    color: white;
}

.footer .box .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}

.footer .box .links li a {
    color: #b9b9b9;
}

.footer .box .links li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}

.footer .line {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    color: #b9b9b9;
}
@media (max-width:767px) {
    .footer .line{
        display: flex;
        flex-direction: column;
    }
}

.footer .line i {
    color: var(--main-color);
    font-size: 25px;
    margin: 10px;
}

.footer .footer-gallery img {
    width: 78px;
    border: 3px solid white;
    margin: 2px;
}

.footer .copyright {
    border-top: 1px solid #444;
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
}

/* start animation */
@keyframes up {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px
    }
}

@keyframes i {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-20px);
    }

}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}

@keyframes article {
    100% {
        transform: translateX(16px);
    }
}

@keyframes flashing {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

@keyframes change-background {

    0%,
    100% {
        background-image: url(../imagr/WwW.IRAQ.jpg);
    }

    50% {
        background-image: url(../imagr/296.jpg);
        filter: grayscale(100%);
    }
}